<div class="container p-4">
     <h1 class="index-custom">Links públicos:</h1>
    <div class="row">        
        <div class="col-md-8">
            <div class="row">
               {{#each links}}
                    <div class="col-md-4 mx-left mb-3">
                        <div class="card text-center">
                            <h5 class="card-header">{{title}}</h5>
                            <div class="card-body">
                                <h5 class="card-title">Descripción: {{description}}</h5>
                            
                                <a href="{{url}}" class="btn btn-primary mb-2">{{title}}</a>
                                <hr>                        
                                <p>Publicado: {{timeago created_at}}</p>
                                <hr>
                                <p>usuario: {{username}}</p>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="col-md-4 mx-auto">
                        <div class="card card-body text-center">
                            <p>No hay ningun link en la web.</p>
                            <a href="/posts/add">Crea uno!</a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-4 mx-left">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido <br> {{user.fullname}}</h3>
                    <hr>
                    <h4>Tu usuario es: {{user.username}}</h4>
                    <hr>
                    <a href="/links" class="btn btn-primary">Click para empezar!</a>
                </div>

            </div>
        </div>
    </div>
</div>