<div class="container p-4">
    <div class="row">
        <div class="col-md-2">
            <h6 class="mx-left">Cotizacion del dolar: </h6>
        </div>
        <div class="col-md-10">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">            
            {{#if archivo.datos}}
            <p>TODO: Parsear utc to localtime, restar 3h </p>

            <p>Actualizado: {{archivo.updated_at}}</p>

            <p>Actualizado: {{timeago archivo.updated_at}}</p>
            <p>{{{toJSON archivo.datos}}}</p>
            {{/if}}

            {{#if archivo.buyDollar}}
                <p>Día: {{{ archivo.day}}} Mes: {{{ archivo.month}}} año: {{{ archivo.year}}} </p>
                <p>Compra: {{{ toJSON archivo.sellDollar}}}</p>
                <p>Venta: {{{toJSON archivo.buyDollar}}}</p>
            {{else}}
                <p>No hay datos para esa fecha</p>
            {{/if}}
        </div>
    </div>
</div>